.container {
    margin: 0 auto;
    max-width: 1450px;
    padding: 0 10px;
}

body {
    font-family: 'Merriweather', serif;
}

section {
    padding: 80px 0 80px;
}

.title {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}

.title span {
    display: block;
    font-size: 45px;
    font-weight: 400;
}

.header {
    background-image: url(/images/asian.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 120vh;
}

.header__top {
    display: flex;
    justify-content: flex-start;
}

.logo__img {
    margin-right: 100px;
    width: 370px;
}

.contacts {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.header__title {
    font-size: 67px;
    margin: 50px 0 100px;
    max-width: 700px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #332219;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
}

.header__text {
    max-width: 750px;
    margin-bottom: 50px;
    color: #000;
}

.red__btn {
    padding: 10px 40px;
    background-color: #d52003;
    font-size: 30px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all .8s;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.red__btn:hover {
    background-color: transparent;
    box-shadow: 4px 2px 6px rgb(210, 8, 8), -1px -1px 1px rgb(255, 255, 255);
    color: #332219;
}

.whyChooseUs {
    background-color: #efefef;

}

.benefits__list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.benefits__item {
    padding: 34px 0 58px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    position: relative;
    max-width: 230px;
    height: 390px;

}

.benefits__item::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #808080;
    top: -6px;
    left: 0;
}

.benefits__item::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #808080;
    bottom: -6px;
    left: 0;
}

.benefits__title {
    padding: 30px 0 50px;
}



.benefits__img {
    width: 80px;
    margin: 0 auto;
}

.instruments {

    position: relative;
    color: #000;

}

.instruments::before {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    background-image: url(../images/instrumental-bg.jpg);
    filter: blur(5px);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.instruments__title,
.form__title,
.catalog__title {
    color: #fff;
    z-index: 5;
    position: relative;
}

.catalog__title,
.order__title {
    color: red;
}

.slider__box {
    position: relative;
}

.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-image: url(../images/instrumental-slider-fonjpg.png); */
    background-image: url(../images/slider-item-test.png);
    background-position: center center;
    padding: 35px;

}

.arrows {
    cursor: pointer;
}

.arrow__right {
    top: calc(50% - 50px);
    right: 18%;
    position: absolute;
}

.arrow__left {
    top: calc(50% - 50px);
    left: 18%;
    position: absolute;
}

.slider__title {
    font-size: 45px;
}

.slider__descr {
    max-width: 600px;
    padding: 10px;
}


.slider__buy {
    max-width: 300px;
    display: flex;
    justify-content: center;
}


.slider__price {
    font-size: 45px;
    margin-right: 50px;
}


.brands {

    background-image: url(../images/brands-bg.jpg);
}

.brands__title {
    background-image: url(../images/brands-logo-bg.png);
    background-size: contain;
    background-position: top center;
    max-width: 500px;
    margin: 0 auto 60px;
}

.brands__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.brands__img {
    max-width: 150px;

}

.catalog,
.order {

    background-image: url(../images/brick-bg.jpeg);
    background-size: cover;
    background-position: center;
}

.catalog__box {
    display: flex;
}

.catalog__item {
    background-color: #fff;
    position: relative;
    box-shadow: 2px 2px 5px black;
    text-align: center;
    width: 100%;
    border-radius: 7px;
}

.catalog__item+.catalog__item {
    margin-left: 50px;
}

.catalog__item-img {
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    z-index: 3;
}

.catalog__item::before {
    content: '';
    width: 90%;
    margin: 0 auto;
    height: 350px;
    top: 10px;
    left: 0;
    right: 0;
    position: absolute;
    border: 2px solid black;
    box-shadow: 1px 1px 4px black, -1px -1px 4px black;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: #fff;
}

.catalog__item-title {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 400;
}

.catalog__item-buy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    padding: 10px;
}

.catalog__btn {
    font-size: 25px;
    padding: 5px 15px;
    text-align: center;
}

.catalog__box {
    margin-bottom: 45px;
}

.show__more {
    padding: 15px 10px;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}


.reviews__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.reviews__item-avatar {
    margin: 0 auto 20px;

}

.reviews__item-name {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
}

.reviews__item-name::before {
    content: '';
    position: absolute;
    width: 50%;
    margin: 0 auto;
    height: 3px;
    background-color: red;
    text-align: center;
    bottom: -10px;
    left: 0;
    right: 0;
}

.reviews__item-name::after {
    content: '';
    width: 12px;
    height: 10px;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    position: absolute;
    transform: skew(38deg, 132deg);
    bottom: -13px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.reviews__item {
    margin-bottom: 100px;
    max-width: 260px;
    text-align: center;
}

.order {
    background-image: url(../images/brick-bg.jpeg);
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;
    padding-bottom: 150px;
}


.order__img {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 100px;
}

.order__box {
    background-image: url(../images/linesTest.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

.order__step-img {
    width: 160px;
}

.order__step-stage {
    max-width: 200px;
}

.order-1 {
    position: absolute;
    left: 20%;
}

.order-2 {
    position: absolute;
    left: 45%;
}

.order-3 {
    position: absolute;
    left: 70%;
}

.order-4 {
    position: absolute;
    left: 32%;

    bottom: -80px;
}

.order-5 {
    position: absolute;
    left: 57%;
    bottom: -128px;
}

.makeOrder {
    background-image: url(../images/form-bg.png);
    position: relative;
}

.makeOrder::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.716);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 1;
}

.form {
    background-image: url(../images/form.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 560px;
    margin: 0 auto;
    position: relative;
    z-index: 6;
    padding: 15px;
}

.gift__box {
    margin-bottom: 15px;
}

.gift__image {
    width: 80px;
    display: inline-block;
}

.form__text {
    margin-bottom: 12px;
}

.form__item {
    font-size: 15px;
    margin-bottom: 10px;
}

.select {
    border-radius: 5px;
    padding: 5px;
    width: 260px;
    height: 40px;
    appearance: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

input {
    border-radius: 5px;
    padding: 5px;
    width: 260px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.form__price-place {
    padding: 15px 0;
    font-size: 45px;
}


.form__btn {
    padding: 0 15px;
}


.footer {
    background-color: #000;

}

.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer__contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
